# Fichiers et dossiers Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.log

# Environnements virtuels
venv/
.env/
.venv/
env/
ENV/

# Fichiers de configuration et secrets
*.env
config.py

# Dépendances Python
*.lock
*.zip
*.tar.gz
*.whl
pip-log.txt

# Fichiers et dossiers générés
*.sqlite3
instance/
db.sqlite3
staticfiles/
mediafiles/

# Dossiers de Jupyter Notebook
.ipynb_checkpoints/

# Cache et fichiers temporaires
*.bak
*.swp
*.tmp
*.DS_Store
Thumbs.db
